# Готовий бінарник утиліти
sysupdate

# Локальні логи та файли конфігурації, які створюються під час тестів
.config/
.cache/
*.log

# Логи помилок самого Go
*.out
*.prof

# Тимчасові файли та папки залежностей
vendor/
bin/
obj/

# Тимчасові файли редакторів коду (якщо використовуєш VS Code чи Neovim)
.vscode/
.idea/
*~
*.swp
